.movie-detail-card{
    width:100%;
    height: 100%;
    background-size:cover;
    cursor:pointer;
    transition: 0.5s;
    position:relative;
}
.movie-detail-card::before{
    position: relative;
    width: 100%;
    padding-top: 80%;
    content: '';
    display: block;
    min-width: 100%;
}
.movie-page-list .row{
    row-gap: 1.5rem;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(43, 41, 41, 0.9);
    opacity: 0;
    transition: all 1s;
    color:white;
    font-weight: bold;
    overflow-wrap:break-word;
    box-sizing: border-box;
    padding: 4vw;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.movie-detail-card:hover .overlay{
    opacity: 1;
}
.movie-detail-card:hover{
    transform: scale(1.1) translateZ(20px);
    z-index: 2;
}
.overlay h1{
    font-size:6vw;
    width:100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: keep-all;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.overlay h4{
    font-size:2.6vw;
    color:#999;
}
.movie-card-sub{
    margin:2vw 0;
    font-size:3.2vw;
    width:100%;
    font-weight: 300;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: keep-all;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.badge-wrap{
    display: flex;
    gap:4px;
    flex-wrap: wrap;
    border-top:1px solid #eee;
    padding-top:3vw;
    margin-top:2vw;
}
.badge-wrap .badge{
    font-size:2.6vw;
}
@media (min-width:465px) and (max-width:1024px) {
    .overlay{
        padding:2vw;
    }
    .overlay h1{
        font-size:2.8vw;
        margin-bottom:0.5vw;
    }
    .overlay h4{
        font-size:1.4vw;
        margin-bottom:0.5vw;
    }
    .movie-card-sub{
        font-size:1.8vw;
        margin:1vw 0;
    }
    .badge-wrap{
        padding-top:1.2vw;
        margin-top:0.8vw;
    }
    .badge-wrap .badge{
        font-size:1.4vw;
    }
}
@media (min-width:1025px){
    .overlay{
        padding:1.2vw;
    }
    .overlay h1{
        font-size:1.8vw;
        margin-bottom:0.5vw;
    }
    .overlay h4{
        font-size:0.8vw;
        margin-bottom:0.5vw;
    }
    .movie-card-sub{
        font-size:1vw;
        margin:0.5vw 0;
        -webkit-line-clamp: 2;
    }
    .badge-wrap{
        padding-top:1vw;
        margin-top:0.8vw;
    }
    .badge-wrap .badge{
        font-size:0.6vw;
    }
}