.review-author{
    font-size: 4.2vw;
    font-weight: 700;
}
.review-content{
    font-size: 3.2vw;
    width:100%;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    word-break: keep-all;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.review-content.open{
    -webkit-line-clamp: unset;   
}
.review-btn{
    background: none;
    border: none;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    font-size: 3vw;
}
@media (min-width:465px) and (max-width:1024px) {
    .review-author{
        font-size: 1.2rem;
    }
    .review-content{
        font-size: 1rem;
    }
    .review-btn{
        font-size: 0.8rem;
    }
}
@media (min-width:1025px){
    .review-author{
        font-size: 1.4rem;
    }
    .review-content{
        font-size: 1.2rem;
    }
    .review-btn{
        font-size: 1rem;
    }

}